*{
  background-color: white;  
  color:#000099;
  font-family: 'Times New Roman', Times, serif;
}

.news{
  text-decoration: none;
}

a{
    background-color:#cccccc;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}